//- chappe
//-
//- Copyright 2021, Valerian Saliou
//- Author: Valerian Saliou <valerian@valeriansaliou.name>

meta(
  http-equiv="Content-Type",
  content="text/html; charset=utf-8"
)

if (INDEXING === false || page === "not_found")
  meta(
    name="robots",
    content="noindex, nofollow"
  )
