//- chappe
//-
//- Copyright 2021, Crisp IM SAS
//- Author: Valerian Saliou <valerian@valeriansaliou.name>

if SITE.tokens.crisp_website_id
  - var crisp_chatbox_url = (SITE.overrides.crisp_chatbox_url || "https://client.crisp.chat/l.js");

  script.
    window.$crisp = [];
    window.CRISP_WEBSITE_ID = "#{SITE.tokens.crisp_website_id}";

    (function(){d=document;s=d.createElement("script");s.src="#{crisp_chatbox_url}";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();

each script_url in SITE.includes.scripts.urls
  if script_url.url
    script(src=script_url.url, defer=script_url.defer)
  else
    script(src="#{script_url}",defer)

each script_inline in SITE.includes.scripts.inline
  script.
    #{script_inline}

each stylesheet_inline in SITE.includes.stylesheets.inline
  style.
    #{stylesheet_inline}

each stylesheet_url in SITE.includes.stylesheets.urls
  link(
    rel="stylesheet",
    href="#{stylesheet_url}",
    type="text/css"
  )
