//- chappe
//-
//- Copyright 2021, Crisp IM SAS
//- Author: Valerian Saliou <valerian@valeriansaliou.name>

if SITE.favicons.sizes
  each href, size in SITE.favicons.sizes
    link(
      rel="icon",
      href=`/static/user/${href}`,
      sizes=((size !== "default") ? size : null),
      type="image/png"
    )

if SITE.favicons.main
  link(
    rel="shortcut icon",
    href=`/static/user/${SITE.favicons.main}`,
    type="image/x-icon"
  )
