//- chappe
//-
//- Copyright 2021, Crisp IM SAS
//- Author: Valerian Saliou <valerian@valeriansaliou.name>

meta(
  name="generator",
  content=`Chappe v${PACKAGE.version}`
)

meta(
  property="og:locale",
  content=LOCALE.CODE
)

meta(
  property="og:site_name",
  content=(SITE.identity.title || $_.COMMON.METAS.SITE_NAME)
)

meta(
  property="og:type",
  content="website"
)

if SITE.images.metas.opengraph
  - var opengraph_image = `${SITE.urls.base}/static/user/${SITE.images.metas.opengraph}`;

  meta(
    property="og:image",
    content=opengraph_image
  )

  meta(
    name="twitter:card",
    content="summary_large_image"
  )

  meta(
    name="twitter:image:src",
    content=opengraph_image
  )
