//- chappe
//-
//- Copyright 2021, Crisp IM SAS
//- Author: Valerian Saliou <valerian@valeriansaliou.name>

extends ../__base

block vars
  - var page = "not_found";

block title
  | #{$_.NOT_FOUND.PAGE}

block append stylesheets
  +head-stylesheet("/static/stylesheets/not_found/not_found")

block body_content
  .wrapper
    #not_found
      .main
        h1.main-title.font-sans-bold
          | #{$_.NOT_FOUND.TITLE}

        p.main-label
          span.main-label-line
            | #{$_.NOT_FOUND.LABEL_FIRST}

          span.main-label-line
            | #{$_.NOT_FOUND.LABEL_SECOND}

      .actions
        a.button.button--icon(
          href="/"
        )
          span.button-text
            | #{$_.NOT_FOUND.ACTION}

      if SITE.images.illustrations.not_found
        .illustration(
          style=`background-image: url('/static/user/${SITE.images.illustrations.not_found}');`
        )
