//- chappe
//-
//- Copyright 2021, Valerian Saliou
//- Author: Valerian Saliou <valerian@valeriansaliou.name>

.content.content--padded
  .content-wrap
    .details
      - var category_icon  = (SITE.images.categories.guides[guide.segments[0]] || null);
      - var category_title = ((parent_titles.length > 0) ? parent_titles.join(" | ") : guide.title);

      .details-upper
        h6.details-category.text-ellipsis.font-sans-semibold
          span.details-icon(
            style=((category_icon !== null) ? ("background-image: url('/static/user/" + category_icon + "');") : null)
          )

          | #{category_title}

        if SITE.tokens.crisp_website_id
          a.details-feedback.font-sans-semibold(
            href="#crisp-chat-feedback"
          )
            | #{$_.GUIDES.DETAILS.FEEDBACK}

      .details-lower
        h1.details-title.text-ellipsis.font-sans-bold
          | #{((category_title !== guide.title) ? guide.title : $_.GUIDES.DETAILS.TITLE_INDEX)}

        span.details-updated
          | #{$_.GUIDES.DETAILS.UPDATED} #{guide.updated.toLocaleDateString(FORMAT.DATES.LOCALE_DATE_STRING.AREA, FORMAT.DATES.LOCALE_DATE_STRING.OPTIONS)}

    .article.markdown
      != METHODS.marked(guide.markdown)
